body {
  background-color: black;
}

main {
  display: flex;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
}

.login {
  display: flex;
}

.trybewarts-header-logo {
  /* width: 100px;
  height: 100px; */
  background-color: black;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

.trybewarts-login {
  display: flex;
}

